name: Dependabot auto-merge
on:
  pull_request:
    types: [opened]

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_NUMBER" --repo ${{github.repository}}
        env:
          PR_NUMBER: ${{github.event.pull_request.number}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
